.logoNavBar {
    width: 45px !important;
    height: 45px !important;
}

.zapaImg {
    width: 100%;
}

.card-text span {
    color: rgb(78, 78, 78);
}

a .btn {
    transition: width 1s;
}

.hoverAnchors {
    opacity: 0.5;
    zoom: 1.1;
}